<div class="panel panel-default">
  <div class="panel-heading">
    メッセージ一覧
  </div>
    
  <div class="panel-body">
    <% @tweets.each do |tweet| %>
      <span class="label label-info"><%= tweet.username %></span>
      <%= tweet.tweet %>
      <br>
    <% end %>
  </div>
</div>

<%= form_for(Tweet.new) do |f| %>
    内容:
    <%= f.text_field :username %>
    ツイート:
    <%= f.text_field :tweet %>
    <%= f.submit %>
<% end %>