<h1>あなたのツイート一覧</h1>
<% @tweets.each do |tweet| %>
  名前:<%= tweet.username %>
  内容:<%= tweet.tweet %>
  <br>
<% end %>

<%= form_for(Tweet.new) do |f| %>
    内容:
    <%= f.text_field :username %>
    ツイート:
    <%= f.text_field :tweet %>
    <%= f.submit %>
<% end %>